/* mobile first development */
/* can include medium and large in this folder */
/* however,,, you may media query in another file */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif; */
/* font-family: Georgia, 'Times New Roman', Times, serif; */

/* TO DO */
/* figure out the favicon thing */

h1, h2, h3, h4, h5, h6 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
}
p {
    /* font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    font-weight: bold;
}

#meeting-banner {
    background-color: #f8ffd7;
    text-align: center;
    padding: 5px;
    font-size: 13pt;
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}
header h1 {
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

#todays-date {
    background-color: #00363a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #006064;
    grid-row: 1/2;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    background-color: #c5e1a5;
    grid-row: 2/3;
    height: 50px;
    align-items: center;
}

i {
    font-size: 20pt;
    color: white;
}
#ham {
    font-size: 20pt;
    background-color: #006064;
    border: none;
    color: white;
}

.small-logo {
    width: 60px;
    padding: 10px;
}

.hidden {
    display: none;
}

nav ul{
    /* border:solid 1px black; */
    padding: 0;
    margin: 0px;
}
nav ul li{
    /* border:solid 1px green; */
    display:inline-block;
}

li a{
    /* border:solid 1px red; */
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
}

#index-main {
    display: grid;
    grid-template-columns: 100%;
    margin-top: -25px;
}

#hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 10px;
    border-radius: 5px;
}
#hero picture {
    grid-row: 1/7;
    grid-column: 1/13;
    z-index: -1;
    border-radius: 5px;
}
#hero picture img {
    width: 100%;
}
#hero h3 {
    grid-column: 2/10;
    grid-row: 1/3;
    font-size: 20pt;
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
}
#hero button {
    grid-column: 8/12;
    grid-row: 4/5;
}
.join {
    background-color: #00363a;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 13pt;
    text-align: center;
    box-shadow: 5px 5px 5px #94af76;
}

/* main div {
    
} */
#spotlight, #s1, #s2, #s3, #event, #news, #weather, #join {
    background: #006064;
    margin: 10px;
    padding: 15px;
    /* border: solid 1px black; */
    border-radius: 5px;
    color: white;
    text-align: center;
}
#spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}
#s3, #join {
    display: none;
}
#join button {
    margin-top: 10px;
}

footer img {
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 15px;
}
footer {
    background-color: #006064;
    padding: 20px;
}
footer div h1, p, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: white;
    text-align: center;
}
footer div p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: white;
}

/* DISCOVER PAGE */
.discoverimg img {
    display: block;
}

#discover-grid p {
    /* font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif; */
    color: #000000;
    margin-bottom: 25px;

}
#discover-grid picture img {
    width: 100%;
    margin: 0 auto;
    max-height: 300px;
    border-radius: 15px;
    margin-bottom: 25px;
}
#discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#discovermain {
    margin: 50px;
    margin-top: -55px;
}
#discovermain h1 {
    text-align: center;
}

#thank-you {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

#join-main {
    margin: 20px;
}

/* DIRECTOTRY */

#gridselect, #listselect {
    color: black;
}
#cardview {
    display: grid;
    grid-template-columns: repeat(1fr, 1);
}
#cardview div img {
    width: 50%;
}
#cardview div p, a {
    color: black;
}
#cardview div {
    margin: 20px;
    box-shadow: #7e7e7e 5px 5px 5px;
}

@media screen and (min-width: 40em) {
    #index-main {
        grid-template-columns: 60% 40%;
    }
    #index-main div {
        grid-column: 1/3;
    }
    #hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: 1fr 1fr;
    }
        #s1, #s2 {
            grid-row: 1/2;
        }
        #s1 {
            grid-column: 1/2;
        }
        #s2 {
            grid-column: 2/3;
        }
    #join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #event {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #weather {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    #footer-flex {
        display: flex;
        justify-content: space-between;
    }

    /* DISCOVER */
    #discover-grid picture img:hover {
        box-shadow: 5px 5px 5px #006064;
    }

    /* DIRECTORY */
    #cardview {
        display: grid;
        grid-template-columns: repeat(1fr, 3);
    }
}

@media screen and (min-width: 60em) {
    /* .hidden {
        display: block;
    } */
    #ham {
        display: none;
    }
    .hidden {
        display: block;
    }
    nav {
        text-align: center;
        padding-top: 25px;
    }
    #index-main {
        margin-top: -10px;
        grid-template-columns: 1fr 2fr 1fr;
    }
    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #spotlight {
        grid-column: 3/4;
        grid-row: 1/4;
        grid-template-columns: 1fr;
    }
        #s1 {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        #s2 {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #s3 {
            display: block;
            grid-column: 1/2;
            grid-row: 3/4;
        }
    #discovermain {
        margin: 50px;
        margin-top: -20px;
    }
    #cardview {
        display: grid;
        grid-template-columns: repeat(1fr, 3);
    }
}
@media screen and (min-width: 60em) {
    #cardview {
        display: grid;
        grid-template-columns: repeat(1fr, 4);
    }
}

/* JOIN */

label.myinput {
    display: block;
    padding-top: 1rem;
}

label.myinput input, label.myinput textarea {
    display: block;
    font-size: 1.2rem;
    padding: .5rem;
    width: 20rem;
    max-width: 20rem;
}

label.myradio {
    display: block;
}

label.myradio input {
    margin-right: .5rem;
    font-size: 1.3rem;
}

.mysubmit {
    background-color: #00363a;
    color: white;
    margin: 1rem 0 0 0;
    padding: .5rem;
    font-size: 1.5rem;
}

/* label.myinput input:required {

} */